# **Programacion funcional**

Vamos a aprender a usar las **funciones lambda, map, filter y reduce**.

Veremos los siguientes métodos:

    1) Funciones lambda.
    2) Metodos de la programacion funcional:      
      - map
      - filter
      - reduce*

### **Programacion funcional**

Los programas escritos en un **lenguaje funcional** están constituidos unicamente por definiciones de **funciones**, entendiendo estas no como subprogramas clasicos de un lenguaje imperativo, sino como funciones puramente matematicas.

<center>
<img src="https://user-images.githubusercontent.com/16768318/73006022-d523bd00-3e01-11ea-8c1a-8ce4f5529158.png" width="35%">
</center>

### **Funciones lambda**

Sirve para crear funciones anonimas. Ejemplo:

In [ ]:
def doble(x):
  return x**2

In [ ]:
doble(25)

625

In [ ]:
dobleAnonima = lambda x : x**2

In [ ]:
dobleAnonima(25)

625

In [ ]:
(lambda x: x**2)(25)

625

### Ejercicio:
Escribe una función anónima que de la vuelta a un String, guardala en una variable que se llame reverse_f.


> Por ejemplo: Dado el string "Hola" debe devolver "aloH"

In [ ]:
#Inserta Aquí tu código
reverse_f = lambda texto: texto[::-1]
texto = "Hola"
resultado = reverse_f(texto)

In [ ]:
reverse_f('hola')

'aloh'

### Ejercicio:
Escribe una función anónima que devuelva la multiplicación de dos números, guardala en una variable que se llame mult_f.

Por ejemplo: Dado los numeros 10 y 2 debe devolver 20

In [ ]:
#Inserta Aquí tu código
mult_f = lambda a, b: a * b
mult_f(10,2)

20

In [ ]:
mult_f = lambda a, b, c : a * (b+c)
mult_f(5,2,1)

15

### **Map**

Aplica una condicion (definida por una funcion) sobretodos los elementos de una estructura de datos.
<img src="https://leblancfg.com/img/map_function.png" width="50%">

In [ ]:
lista = [1,2,3,4,5,6,7,8]

In [ ]:
# PROGRAMACIÓN IMPERATIVA
new_lista = []
for numero in lista:
  new_lista.append(numero * 2)
print(new_lista)

[2, 4, 6, 8, 10, 12, 14, 16]

In [ ]:
def multiplicarx2(numero):
  return numero * 2

In [ ]:
# PROGRAMACIÓN FUNCIONAL
list(map(multiplicarx2,lista))

[2, 4, 6, 8, 10, 12, 14, 16]

In [ ]:
# PROGRAMACIÓN FUNCIONAL AVANZADA: LAMBDA
list(map(lambda numero : numero * 2 ,lista))

[2, 4, 6, 8, 10, 12, 14, 16]

#### **Ejemplo 1**

Convertir los valores de temperatura media de Celsius a Kelvin

In [ ]:
temp_C = [28, 32, 15, 26, 24, 30]

In [ ]:
# Programación imperativa
temp_K = []
for temp in temp_C:
  new_temp = temp + 273.15
  temp_K.append(new_temp)
print(temp_K)

[301.15, 305.15, 288.15, 299.15, 297.15, 303.15]

In [ ]:
# Programación funcional
def celsiusAKelvin(temperatura):
  return temperatura + 273.15

temp_K = list(map(celsiusAKelvin, temp_C))
print(temp_K)

[301.15, 305.15, 288.15, 299.15, 297.15, 303.15]

In [ ]:
# Programación funcional avanzada usando funciones anónimas
temp_K = list(map(lambda x : x+273.15, temp_C))
print(temp_K)

[301.15, 305.15, 288.15, 299.15, 297.15, 303.15]

#### **Ejercicio 2**
Convertir estos nombres a mayúsculas

In [ ]:
mascotas_nombre_min = ['alfred', 'tabitha', 'william', 'arla']

Primero resuelve tu problema usando un bucle `for`


*   INPUT/ENTRADA: Tienes que convertir en mayúscula todos los elementos de la lista `mascotas_nombre_min`
*   OUTPUT/SALIDA: Los nombres en mayúsculas deberán estar en la lista `mascotas_nombre_may`
* PISTA: Puedes añadir elemenetos a una lista con `append()`

In [ ]:
# Programación imperativa
#Inserta Aquí tu código
mascotas_nombre_min = ['alfred', 'tabitha', 'william', 'arla']

# Inicializar una lista vacía para almacenar los nombres en mayúsculas
mascotas_nombre_may = []

# Convertir los nombres a mayúsculas usando un bucle for y append()
for nombre_min in mascotas_nombre_min:
    nombre_may = nombre_min.upper()
    mascotas_nombre_may.append(nombre_may)

# Imprimir la lista de nombres en mayúsculas
print(mascotas_nombre_may)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [ ]:
mascotas_nombre_min = ['alfred', 'tabitha', 'william', 'arla']
mascotas_nombre_may = []
for nombre_min in mascotas_nombre_min:
  mascotas_nombre_may.append(nombre_min.upper())


print(mascotas_nombre_may)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

Ahora haz lo mismo pero sin un bucle for, ahora usando map()

In [ ]:
# Programación funcional
#Inserta Aquí tu código
mascotas_nombre_min = ['alfred', 'tabitha', 'william', 'arla']

# Usar map() y lambda para convertir los nombres a mayúsculas
mascotas_nombre_may = list(map(lambda nombre: nombre.upper(), mascotas_nombre_min))

# Imprimir la lista de nombres en mayúsculas
print(mascotas_nombre_may)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

### **Filter**

Mientras que **map()** pasa cada elemento del iterable a traves de una funcion y devuelve el resultado de todos los elementos que han pasado a traves de la funcion, **filter()**, en primer lugar, requiere que **la funcion devuelva valores booleanos (verdadero o falso)** y luego pasa cada elemento del iterable a traves de la funcion, **"filtrando" los que son falsos**.

<img src="https://leblancfg.com/img/filter.png" width="50%">

In [ ]:
def temperaturas_calurosas(numero):
  if numero > 27:
    return True
  else:
    return False

In [ ]:
numeros = [28, 32, 15, 26, 24, 30]
list(filter(temperaturas_calurosas,numeros))

[28, 32, 30]

In [ ]:
list(filter(lambda entrada : entrada > 27 ,numeros))

[28, 32, 30]

In [ ]:
# Filter
numeros = [28, 32, 15, 26, 24, 30]

In [ ]:
# Programación imperativa
num_may_30 = []
for num in numeros:
  if num >= 30:
    num_may_30.append(num)

print(num_may_30)

[32, 30]

In [ ]:
# Programación funcional
def numMayoresA30(numero):
  if numero >= 30:
    return True
  else:
    return False


num_may_30 = list(filter(numMayoresA30, numeros))
print(num_may_30)

[32, 30]

In [ ]:
# Programación funcional avanzada usando funciones anónimas
num_may_30 = list(filter(lambda temp:temp >= 30, numeros))
print(num_may_30)

[32, 30]

#### **Ejercicio 3**
Escribir una función que reciba una frase (string) y devuelva una lista con las longitudes de cada palabra.

In [ ]:
frase = 'Welcome to Python'

In [ ]:
#Inserta Aquí tu código
def longitud_palabras(frase):
  #Dividir la frase en palabras
  palabras = frase.split()
  #Obtener las longitudes de las palabras
  longitud = [len(palabra) for palabra in palabras]
  return longitud

# Ejemplo de uso de la función
frase = 'Welcome to Python'
longitud_palabras = longitud_palabras(frase)
print("Longitud de las palabras:", longitud_palabras)

Longitud de las palabras: [7, 2, 6]

In [ ]:
lista_palabras = frase.split(' ')
numero_de_letras = []
for palabra in lista_palabras:
  numero_de_letras.append(len(palabra))
print(numero_de_letras)

[7, 2, 6]

In [ ]:
list(map(len, lista_palabras))

[7, 2, 6]

In [ ]:
list(map( lambda palabra : len(palabra) , lista_palabras))

[7, 2, 6]

Comprueba tu respuesta, debe dar: [7, 2, 6]

In [ ]:
print(longitud_palabras)

[7, 2, 6]

#### **Ejercicio 4**
Escribir una función que reciba una lista de números pares e impares y devuelve como resultado una lista solo con los números pares usando filter. Usa también la función dada check_even().

In [ ]:
def check_even(num):
    return num % 2 == 0

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [ ]:
#Inserta Aquí tu código
list(filter(check_even, nums))

[0, 2, 4, 6, 8, 10]

#### **Ejercicio 5**
Imprimir de uno en uno todos los elementos de la siguiente lista utilizando programación funcional con `map`.

In [ ]:
datos = ["Hola",1,True,"José Luis",545645,"*"]

In [ ]:
#Inserta Aquí tu código
for elemento in datos:
  print(elemento)

Hola
1
True
José Luis
545645
*

In [ ]:
list(map(print, datos))

Hola
1
True
José Luis
545645
*

[None, None, None, None, None, None]